root = true

[*]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.ipynb]
indent_size = unset

[*.{py,toml}]
indent_size = 4

[LICENSE]
indent_size = unset

[setup.cfg]
indent_size = 4
