if [ -e .venv ]; then
  source .venv/bin/activate
elif [ -e venv ]; then
  source venv/bin/activate
elif [ -e .pixi ]; then
  watch_file pixi.lock
  eval "$(pixi shell-hook)"
else
  layout anaconda
fi
