[flake8]
application-import-names =
    ampform
filename =
    ./docs/*.py
    ./src/*.py
    ./tests/*.py
exclude =
    **/__pycache__
    **/_build
    /typings/**
ignore =
    # False positive with attribute docstrings
    B018
    # https://github.com/psf/black#slices
    E203
    # allowed by black
    E231
    # https://github.com/psf/black#line-length
    E501
    # should be possible to use {} in latex strings
    FS003
    # block quote ends without a blank line (black formatting)
    RST201
    # missing pygments
    RST299
    # unexpected indentation (related to google style docstring)
    RST301
    # false-positive error in math directive
    RST307
    # enforce type ignore with mypy error codes (combined --extend-select=TI100)
    TI1
    # https://github.com/psf/black#line-breaks--binary-operators
    W503
extend-select =
    TI100
radon-max-cc = 8
radon-no-assert = True
rst-roles =
    attr
    cite
    class
    doc
    download
    eq
    file
    func
    meth
    mod
    pdg-review
    ref
    term
rst-directives =
    deprecated
    envvar
    exception
    seealso
