[flake8]
application-import-names =
    ampform
filename =
    ./src/*.py
    ./tests/*.py
exclude =
    __pycache__
    docs/conf.py
    typings/**
ignore = # more info: https://www.flake8rules.com/
    E203 # https://github.com/psf/black#slices
    E231 # allowed by black
    E501 # https://github.com/psf/black#line-length
    FS003 # should be possible to use {} in latex strings
    RST299 # missing pygments
    RST201 # block quote ends without a blank line (black formatting)
    RST301 # unexpected indentation (related to google style docstring)
    W503 # https://github.com/psf/black#line-breaks--binary-operators
radon-max-cc = 8
radon-no-assert = True
rst-roles =
    attr,
    cite,
    class,
    doc,
    download,
    eq,
    file,
    func,
    meth,
    mod,
    pdg-review,
    ref,
    term,
rst-directives =
    deprecated,
    envvar,
    exception,
    seealso,
