# Output files
*.gv
*.pdf
*.svg
*.xml
*.yaml
*.yml

# Build files
*.egg-info/
*build/
.eggs/
.fuse_*
dist/
version.py

# Temporary files
*.pyc
.condaenv.*
.coverage
.coverage.*
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
__pycache__/
htmlcov/
prof/

# Virtual environments
*venv/
.tox/
pyvenv*/

# Settings
.idea/
**.code-workspace

# Exceptions
!.github/*.yml
!.github/*/*.yml
!.gitpod.yml
!.pre-commit-config.yaml
!.readthedocs.yml
!codecov.yml
!environment.yml
!pyrightconfig.json

!docs/usage/additional_particles.yml
!src/expertsystem/additional_particle_definitions.yml
!tests/**/expected_recipe.yml
