# To see other available options:
#   pylint --generate-rcfile > .pylintrc_new
# and compare the output

[BASIC]
good-names=
    _,
    a,
    i,
    j,
    k,
    q,
    x,
    y,
    z,

[VARIABLES]
init-import=yes

[MESSAGES CONTROL]
disable=
    C0114,  # done by pydocstyle
    C0115,  # done by pydocstyle
    C0116,  # done by pydocstyle
    C0330,  # https://github.com/psf/black/issues/48
    RST203, # unexpected indentation
    RST301, # related to google style docstring
    R0801,  # similar lines # https://github.com/PyCQA/pylint/issues/214
    logging-fstring-interpolation,
    not-callable,
    unused-import,  # https://www.flake8rules.com/rules/F401

[MASTER]
ignore=
    conf.py,
    sympy
ignore-patterns=
    .*\.pyi

[DESIGN]
# Minimum number of public methods for a class (see R0903). Default is 2.
# We decrease this to 0, since some rules are "empty" but get decorated.
# Note that some interface classes also just have a single method
min-public-methods=0

[SIMILARITIES]
ignore-imports=yes # https://stackoverflow.com/a/30007053
