-r requirements.in
-r requirements-test.in  # for pytest type hints

pre-commit >= 1.4.0

# Requirements for formatting files
black
isort
nbstripout

# Lint Python source code
flake8  >= 3  # for per-file-ignores
flake8-blind-except
flake8-bugbear
flake8-builtins
flake8-rst-docstrings
mypy >= 0.570  # attrs support
pep8-naming
pydocstyle
pylint
