-r requirements-extras.in
-r requirements-doc.in
-r requirements-test.in
-r requirements-sty.in

# Additional developer tools
aquirdturtle_collapsible_headings
jupyterlab
jupyterlab-code-formatter
labels
pip-tools != 6.0.0  # https://github.com/jazzband/pip-tools/issues/1352
pydeps
sphinx-autobuild
tox >= 1.9  # for skip_install, use_develop
