-r requirements.in
-r requirements-extras.in  # for pytest type hints

# Requirements to build documentation
dataclasses; python_version < '3.7'
ipympl
matplotlib
mpl_interactions
myst-nb >= 0.11  # myst_enable_extensions
Sphinx >= 3
sphinx-book-theme
sphinx-copybutton
sphinx-panels
sphinx-thebe
sphinx-togglebutton
sphinxcontrib-bibtex >= 2
sphobjinv
