name: CI-docs

on:
  push:
    branches:
      - main
      - epic/*
  pull_request:
    branches:
      - main
      - epic/*

jobs:
  documentation:
    name: Build documentation and run notebooks
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py3.8.txt .[doc]
          sudo apt-get -y install graphviz pandoc
      - name: Build documentation and run notebooks
        working-directory: docs
        env:
          EXECUTE_NB: YES
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make html
      - name: Print error logs with color
        if: ${{ failure() }}
        # cspell:ignore printf
        run: |
          for log_file in $(ls docs/_build/html/reports/*); do
            for i in $(seq 6); do echo; done
            printf '%45s\n' | tr ' ' =
            echo "$log_file"
            printf '%45s\n' | tr ' ' =
            echo
            cat "$log_file"
          done
      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: html
          path: docs/_build/html
