name: pytest
env:
  PYTHONHASHSEED: "0"

on:
  push:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  pull_request:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  workflow_dispatch:

jobs:
  codecov:
    name: Unit tests + coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-20.04
        python-version:
          - "3.7"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: |
            ${{ github.workflow }}-${{ github.job }}-${{ matrix.os }}-py${{ matrix.python-version }}-${{ hashFiles('.constraints/py3.*.txt', 'setup.cfg') }}
          path: |
            .pytest_cache
            ~/.cache/pip/
            ~/.sympy-cache*/
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py${{ matrix.python-version }}.txt -e .[test]
      - name: Test with pytest-cov
        run: pytest --cov=ampform --cov-report=xml
      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test_output_${{ matrix.os }}_${{ matrix.python-version }}
          path: tests/output
      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          # cspell:ignore unittests
          flags: unittests

  pytest:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        exclude:
          - os: ubuntu-20.04 # coverage job
            python-version: "3.7"
        include:
          - os: macos-11
            python-version: "3.7"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: |
            ${{ github.workflow }}-${{ github.job }}-${{ matrix.os }}-py${{ matrix.python-version }}-${{ hashFiles('.constraints/py3.*.txt', 'setup.cfg') }}
          path: |
            .pytest_cache
            ~/.cache/pip/
            ~/.sympy-cache*/
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py${{ matrix.python-version }}.txt -e .[test]
      - name: Run unit tests and doctests with pytest
        run: pytest -n auto
      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test_output_${{ matrix.os }}_${{ matrix.python-version }}
          path: tests/output

  pytest-slow:
    name: Slow tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-20.04
        python-version:
          - "3.7"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: |
            ${{ github.workflow }}-${{ github.job }}-${{ matrix.os }}-py${{ matrix.python-version }}-${{ hashFiles('.constraints/py3.*.txt', 'setup.cfg') }}
          path: |
            .pytest_cache
            ~/.cache/pip/
            ~/.sympy-cache*/
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py${{ matrix.python-version }}.txt -e .[test]
      - name: Run slow tests
        run: pytest -n auto -m slow
      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test_output_slow
          path: tests/output
