name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: |-
    ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}

on:
  push:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  pull_request:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  workflow_dispatch:

jobs:
  doc:
    uses: ComPWA/actions/.github/workflows/ci-docs.yml@v4.0
    permissions:
      pages: write
      id-token: write
    with:
      apt-packages: graphviz
  style:
    secrets:
      token: ${{ secrets.PAT }}
    uses: ComPWA/actions/.github/workflows/pre-commit.yml@v4.0
  test:
    uses: ComPWA/actions/.github/workflows/test.yml@v4.0
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      coverage-python-version: "3.13"
      macos-python-version: "3.10"
