name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: |-
    ${{ github.ref != format('refs/heads/{0}', github.event.repository.default_branch) }}

on:
  push:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  pull_request:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  workflow_dispatch:
    inputs:
      specific-pip-packages:
        description: Run CI with specific pip packages
        required: false
        type: string

jobs:
  doc:
    uses: ComPWA/actions/.github/workflows/ci-docs.yml@v2.1
    permissions:
      pages: write
      id-token: write
    with:
      apt-packages: graphviz
      specific-pip-packages: ${{ inputs.specific-pip-packages }}
  pytest:
    uses: ComPWA/actions/.github/workflows/pytest.yml@v2.1
    with:
      coverage-target: ampform
      macos-python-version: "3.9"
      multithreaded: false
      specific-pip-packages: ${{ inputs.specific-pip-packages }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  style:
    if: inputs.specific-pip-packages == ''
    secrets:
      token: ${{ secrets.PAT }}
    uses: ComPWA/actions/.github/workflows/pre-commit.yml@v2.1
