# cspell:ignore unittests

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  codecov:
    name: Unit tests + coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.7]
    steps:
      - uses: actions/checkout@master
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r reqs/${{ matrix.python-version }}/requirements-test.txt
          pip install .
      - name: Test with pytest-cov
        run: pytest -n auto --cov=expertsystem --cov-report=xml
      - uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests

  pytest:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-10.15
          - ubuntu-20.04
        python-version: [3.6, 3.7, 3.8, 3.9]
        exclude:
          - os: macos-10.15
            python-version: 3.6
          - os: macos-10.15
            python-version: 3.8
          - os: macos-10.15
            python-version: 3.9
          - os: ubuntu-20.04 # coverage job
            python-version: 3.7
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r reqs/${{ matrix.python-version }}/requirements-test.txt
          pip install .
      - name: Test with pytest
        run: pytest -n auto

  documentation:
    name: Build documentation and run notebooks
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r reqs/3.7/requirements-doc.txt
          pip install .
          sudo apt-get -y install pandoc graphviz
      - name: Build documentation and run notebooks
        working-directory: docs
        env:
          EXECUTE_NB: YES
        run: make html
      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: html
          path: docs/_build/html
      - name: Test doctests in docstrings
        working-directory: docs
        run: make ignore-warnings=1 doctest

  style:
    name: Style checks
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r reqs/3.7/requirements-sty.txt
          pip install .
          sudo npm install -g cspell pyright@1.1.99
        # https://github.com/ComPWA/expertsystem/issues/437
      - name: Perform style checks
        run: pre-commit run -a
      - name: Check spelling
        run: cspell --no-progress $(git ls-files)
      - name: Run pyright
        run: pyright
