name: Linkcheck

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [review_requested, ready_for_review]

jobs:
  style:
    name: Check external links
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[doc]
          sudo apt-get -y install pandoc
      - name: Check external links
        working-directory: doc
        run: make linkcheck
