name: Linkcheck

on:
  push:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  pull_request:
    branches:
      - main
      - epic/*
      - "[0-9]+.[0-9]+.x"
  workflow_dispatch:

jobs:
  check_links:
    name: Check external links
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py3.8.txt -e .[doc] tox
          sudo apt-get -y install graphviz pandoc
      - name: Check external links
        env:
          GITHUB_REPO: ${{ github.event.pull_request.head.repo.full_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          BRANCH=main
          if [[ "$GITHUB_HEAD_REF" != "" ]]; then
            BRANCH=$GITHUB_HEAD_REF
          fi
          READTHEDOCS_VERSION=$BRANCH tox -e linkcheck
