name: Linkcheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check_links:
    name: Check external links
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -c .constraints/py3.7.txt -e .[doc]
          sudo apt-get -y install graphviz pandoc
      - name: Check external links
        working-directory: docs
        env:
          REPO: ${{ github.event.pull_request.head.repo.full_name }}
        run: |
          BRANCH=main
          if [[ "$GITHUB_HEAD_REF" != "" ]]; then
            BRANCH=$GITHUB_HEAD_REF
          fi
          READTHEDOCS_VERSION=$BRANCH make ignore-warnings=1 linkcheck
