name: Release Drafter

on:
  push:
    branches:
      - main
      - epic/*
  workflow_dispatch:

jobs:
  update_release_draft:
    runs-on: ubuntu-slim
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
